#classicformpage .view {
    background-image: url("./image/grand-canyon-4967730_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
  
  #classicformpage .gradient {
    background: -webkit-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.7),
      rgba(72, 15, 144, 0.4) 100%
    );
    background: -webkit-gradient(
      linear,
      45deg,
      from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%)
    );
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.7),
      rgba(72, 15, 144, 0.4) 100%
    );
  }
  
  #classicformpage .card {
    background-color: rgba(126, 123, 215, 0.2);
  }
  
  #classicformpage h6 {
    line-height: 1.7;
  }
  
  #classicformpage .navbar {
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  
  #classicformpage .top-nav-collapse {
    background: #424f95 !important;
  }
  
  @media (max-width: 768px) {
    #classicformpage .navbar:not(.top-nav-collapse) {
      background: #424f95 !important;
    }
  }
  
  #classicformpage label {
    color: #fff !important;
  }
  
  #pic{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
  }
  
  #pic:hover {
    -webkit-transform: scale(1.3);
  transform: scale(1.3);
  }
  
  #haut{
    padding-left: 25px;
  }